<h1>Bienvenidos a Optica Marcolongo!</h1>
<div class="slider-container">
    <div class="slider">
      <img src="assets\img\salon1.jpg" alt="Salón de ventas">
      <img src="assets\img\salon2.jpg" alt="Imagen 2">
      <img src="assets\img\salon3.jpg" alt="Imagen 3">
    </div>
  </div>
  
  <p>Somos una propuesta en salud visual que prioriza la calidad y el servicio. Focalizamos nuestros esfuerzos en lentes recetados, de sol y contactología. Contamos con marcas como Ray Ban, Armani, Oakley, Vogue, Mormaii, Paula Cahen D´Anvers, Elizabeth Arden, Essilor, entre otras. Niños, adolescentes y adultos encontrarán en Óptica Marcolongo productos diseñados para sus necesidades, respaldados por empresas nacionales e internacionales de primer nivel.</p>
  
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-9">
        <p class="professional-signature" text-rigth >Directora Técnica: Luciana Marcolongo</p>
        <p class="professional-signature"> Óptica. Especialista en lentes de contacto</p>
        <p class="professional-signature">Universidad de Buenos Aires.</p>
      </div>
    </div>
  </div>